.main__button {
    padding: 16px;
    width: 320px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.main__button:hover {
    transform: scale(1.1);
}

.main__button:focus {
    outline: none;
  }
  
.main__button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 550px) {
   .main__button {
    width: 187px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;      
   }
}