.phone__content img {
    width: 100%;
}

.responsive__button {
    display: none;
}

@media screen and (max-width: 550px) {
    .phone__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .phone__content img {
        width: 70%;
    }

    .responsive__button {
        display: block;
    }
}